// Page colors
$active-color: #82CAFF;
$background-color: #89a1c4;
$active-text-color: #0049b8;

// Fonts
$font-family: "Victor Mono", sans-serif, monospace;

//Sizes
$container-width: 1180px;
$container-padding: 10px;
$block-width: calc(1180px / 2);
$element-width: calc(1180px / 4);